@import "/css/root.css";
@import "/css/header.css";
@import "/css/footer.css";

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    background-color: rgb(244, 244, 244);
    padding: 20px;
}

.card {
    border-bottom: 1px solid lightblue;
    align-items: center;
}

.left ul li {
    list-style-type: square;
}

.card img {
    width: 40vw;
}

.card a {
    display: flex;
    justify-content: end;
    color: rgb(94, 94, 94);
    text-decoration: none;
    background-color: lightblue;
    padding: 2px;
}



